__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.log
*.pot

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

calorie_model.pkl 
scaler.pkl
encoders.pkl 
NutriVision_Preprocessed_Dataset.xlsx